<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
    <link rel="stylesheet" href="../styles/popup.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Happy Ping</h1>
        <p class="sub-title">Stay positive and keep smiling!</p>

    
        <form class="settings">
            <div class="input-group">
                On Startup
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>
            </div>


            <div class="input-group">
                On New Tab
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

            <button type="submit" class="btn">Save Settings</button>
        </form>
    </div>

    <script src="../scripts/popup.js"></script>
</body>
</html>